<!DOCTYPE html>
html(lang="en")
  include partials/header
  body
    include partials/navbar

    div Programming Team
    p 
      | The programming team is a club here on campus
      | made up of CS students who enjoy solving programming problems.

    div ICPC 
    p 
      | ICPC or The International Collegiate programming Competition
      | is a yearly programming competition where schools like ours
      | compete to see who can finish the set of problems the quickest.

    div Big O Notation
    p
      | Big O Notation is used in computer science to classify algorithms
      | according to how their run time or space requirements grows 
      | as the input grows.

    include partials/footer

