<!DOCTYPE html>
html(lang="en")
  include partials/header
  body
    include partials/navbar
    div ICPC 
    p    
      |  ICPC or the International Collegiate Programming Competition
      |  is a yearly programming competition where schools like ours send out teams
      |  to see who can finish the set of problems the quickest. The Monterey
      |  Programming Team typically sends about 7 teams of 3 people each to compete
      |  each year. Last year the contest was held at Berkeley and this year will be 
      |  at a private university in San Jose.
    include partials/footer