<!DOCTYPE html>
html(lang="en")
  include partials/header
  body
    include partials/navbar
    p 
      |  The programming team is a club here on campus made up of CS 
      |  students who enjoy solving programming problems. We meet three times a week
      |  and in groups or individually attempt to solve interesting problems
      |  that require the use of various data structures and algorithms.
      |  The programming team has existed since Fall 2017 and we currently have about 25
      |  active members.
    include partials/footer